.page-wrapper {
    display: grid;
    grid-template-columns: 2fr, 1fr;
}

.intro {
    background-color: rgb(189, 232, 237);
    grid-column: 1;
    grid-row: 2;
}
.summary {
    margin-top: 130px;
}

.sidebar {
    grid-column: 2;
    grid-row: 1/3;  
}
header {
    background-color: lightgoldenrodyellow;
}